<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <main class="container">
      <h1><%= message %></h1>
      <p>EJS is working ✅</p>
    </main>
  </body>
</html>